<%= form_for @resource do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Title of Resource" %><br>
    <%= f.text_field :title, required: :true %>
  </div>

  <div class="field">
    <%= f.label :website_link %><br>
    <%= f.text_area :website_link %>
  </div>

  <div class="field">
    <%= f.label :contact_num, "Contact Number" %><br>
    <%= f.text_field :contact_num %>
  </div>

  <div class="field">
    <%= f.label :description, "A brief description of the service" %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field radio-field">
    <%= f.label :main_section, "Which main section does this belong to?" %><br>
    <p>
      <%= f.radio_button(:main_section, "Donation") %>
      <%= f.label(:main_section, "Donation") %>
    </p>
    <p>
      <%= f.radio_button(:main_section, "Other Resources") %>
      <%= f.label(:main_section, "Other Resources") %>
    </p>
  </div>

  <div class="field radio-field">
    <%= f.label :sub_section, "Which sub-section does this belong to?" %><br>
    <p>
      <%= f.radio_button(:sub_section, "Need to Know") %>
      <%= f.label(:sub_section, "Need to Know") %>
    </p>
    <% if @resource.sub_section.present? %>
    <% else %>
      <p>
        <%= f.radio_button(:sub_section, "Suggested Resource") %>
        <%= f.label(:sub_section, "Suggested Resource") %>
      </p>
    <% end %>
    <p>
      <%= f.radio_button(:sub_section, "Efforts on the Ground") %>
      <%= f.label(:sub_section, "Efforts on the Ground") %>
    </p>
  </div>

  <div class="actions">
    <%= link_to 'Back', resources_path, class: "button red" %>
    <%= f.submit "Submit", class: "button green" %>
  </div>
<% end %>