<section id="hero" class="main-section">
    <div class="row">
        <div class="columns xsmall-12 small-10 small-centered text-center">
            <h1 class="alpha">A crowdsourced repository of resources to assist you in helping with the recent Earthquake in Pakistan and Afghanistan.</h1>

            <a class="button turq open-informational-modal" href="javascript:void(0)">How does it work?</a>
        </div>
    </div>
</section>

<div class="info-modal text-center">
    <h2 class="delta">Info about how this works. What does each section represent. Waiting on copy.</h2>
</div>

<section id="donations" class="main-section">
    <div class="row">
        <div class="columns xsmall-12">
            <h2 class="beta">Donations</h2>
        </div>
    </div>

    <div class="row sub-section">
        <div class="columns xsmall-12">
            <h4 class="delta">Need to Know</h4>
            <% if @donation_resources_need_to_know != [] %>
                <% @donation_resources_need_to_know.each do |resource| %>
                    <div class="single-resource">
                        <p><span class="title">Resource:</span> <%= resource.title %></p>
                        <p><span class="title">Website:</span> <%= link_to "#{resource.website_link}", resource.website_link, class: "link", target: "_blank" %></p>
                        <p><span class="title">Contact Number:</span> <%= resource.contact_num %></p>
                        <p><span class="title">Description:</span> <%= resource.description %></p>
                        <%= link_to "Edit Resource", edit_resource_path(resource), class: "button orange" %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>

    <div class="row sub-section">
        <div class="columns xsmall-12">
            <h4 class="delta">Suggested Resources</h4>
            <% if @donation_resources_suggested != [] %>
                <% @donation_resources_suggested.each do |resource| %>
                    <div class="single-resource">
                        <p><span class="title">Resource:</span> <%= resource.title %></p>
                        <p><span class="title">Website:</span> <%= link_to "#{resource.website_link}", resource.website_link, class: "link", target: "_blank" %></p>
                        <p><span class="title">Contact Number:</span> <%= resource.contact_num %></p>
                        <p><span class="title">Description:</span> <%= resource.description %></p>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>

    <div class="row sub-section">
        <div class="columns xsmall-12">
            <h4 class="delta">Efforts on the Ground</h4>
            <% if @donation_resources_efforts_on_the_ground != [] %>
                <% @donation_resources_efforts_on_the_ground.each do |resource| %>
                    <div class="single-resource">
                        <p><span class="title">Resource:</span> <%= resource.title %></p>
                        <p><span class="title">Website:</span> <%= link_to "#{resource.website_link}", resource.website_link, class: "link", target: "_blank" %></p>
                        <p><span class="title">Contact Number:</span> <%= resource.contact_num %></p>
                        <p><span class="title">Description:</span> <%= resource.description %></p>
                        <%= link_to "Edit Resource", edit_resource_path(resource), class: "button orange" %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</section>

<section id="other-resources" class="main-section">
    <div class="row">
        <div class="columns xsmall-12">
            <h2 class="beta">Other Resources</h2>
        </div>
    </div>

    <div class="row sub-section">
        <div class="columns xsmall-12">
            <h4 class="delta">Need to Know</h4>
            <% if @other_resources_need_to_know != [] %>
                <% @other_resources_need_to_know.each do |resource| %>
                    <div class="single-resource">
                        <p><span class="title">Resource:</span> <%= resource.title %></p>
                        <p><span class="title">Website:</span> <%= link_to "#{resource.website_link}", resource.website_link, class: "link", target: "_blank" %></p>
                        <p><span class="title">Contact Number:</span> <%= resource.contact_num %></p>
                        <p><span class="title">Description:</span> <%= resource.description %></p>
                        <%= link_to "Edit Resource", edit_resource_path(resource), class: "button orange" %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>

    <div class="row sub-section">
        <div class="columns xsmall-12">
            <h4 class="delta">Suggested Resources</h4>
            <% if @other_resources_suggested != [] %>
                <% @other_resources_suggested.each do |resource| %>
                    <div class="single-resource">
                        <p><span class="title">Resource:</span> <%= resource.title %></p>
                        <p><span class="title">Website:</span> <%= link_to "#{resource.website_link}", resource.website_link, class: "link", target: "_blank" %></p>
                        <p><span class="title">Contact Number:</span> <%= resource.contact_num %></p>
                        <p><span class="title">Description:</span> <%= resource.description %></p>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>

    <div class="row sub-section">
        <div class="columns xsmall-12">
            <h4 class="delta">Efforts on the Ground</h4>
            <% if @other_resources_efforts_on_the_ground != [] %>
                <% @other_resources_efforts_on_the_ground.each do |resource| %>
                    <div class="single-resource">
                        <p><span class="title">Resource:</span> <%= resource.title %></p>
                        <p><span class="title">Website:</span> <%= link_to "#{resource.website_link}", resource.website_link, class: "link", target: "_blank" %></p>
                        <p><span class="title">Contact Number:</span> <%= resource.contact_num %></p>
                        <p><span class="title">Description:</span> <%= resource.description %></p>
                        <%= link_to "Edit Resource", edit_resource_path(resource), class: "button orange" %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</section>