<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @resource.title %>
</p>

<p>
  <strong>Website link:</strong>
  <%= @resource.website_link %>
</p>

<p>
  <strong>Contact num:</strong>
  <%= @resource.contact_num %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resource.description %>
</p>

<p>
  <strong>Main section:</strong>
  <%= @resource.main_section %>
</p>

<p>
  <strong>Sub section:</strong>
  <%= @resource.sub_section %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
