<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Earthquake 2015</title>
        <%= stylesheet_link_tag    'application' %>
        <%= javascript_include_tag 'application' %>
        <%= csrf_meta_tags %>

        <link rel="alternate" type="application/rss+xml" title="Earthquake 2015 RSS Feed" href="http://www.earthquake2015.info/rss">

        <script src="//cdn.ckeditor.com/4.5.4/basic/ckeditor.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-69412720-1', 'auto');
          ga('send', 'pageview');
        </script>

        <!-- og tags to customize link previews -->
        <meta property="og:url" content="http://www.earthquake2015.info" />
        <meta property="og:title" content="Earthquake 2015 Info" />
        <meta property="og:description" content="A crowdsourced repository of resources to assist you in helping with the recent Earthquake in Pakistan and Afghanistan." />
    </head>
    </head>
    <body>

      <!-- Load Facebook SDK for Javascript -->
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Load Twitter SDK for Javascript -->
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        
        <div id="page">
            <%= render "partials/header" %>
            <%= yield %>
            <%= render "partials/footer" %>
        </div>

        <%= render "partials/drawer_nav" %>
    </body>
</html>
